<%- include('partials/documentHead.ejs') %>

<body>
  <h1>login</h1>
  <form action="/login" method="POST">
    <input type="text">
    <input type="password">
    <submit>Login</submit>
  </form>
</body>

</html>